extends ../Shared/layout.pug

block body
	h2 Hello
	-console.log(ViewData)
	p #{ViewData.title} 
	table(class='table')
		thead
			tr
				th Name
				th Title
				th Age
		tbody
			each val in people
				tr
					td= val.firstName
					td= val.title
					td= val.age
	ul
		each error in ModelState.model.errors
			li #{error.errorMessage}